body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-lateral {
  position: absolute;
  top: 60px;
  left: 0px;

  background-color: #4d602d;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: calc(100vh - 60px);
  align-items: center;
  transition: all ease 0.5s;
  z-index: 999;
}

.menu-lateral:hover {
  width: 350px;
}

.menu-lateral:not(:hover) .texto-item-menu-container {
  animation: texto_desaparecendo 1s ease forwards;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  gap: 20px;
  height: calc(100vh - 230px);
  overflow-y: scroll;
}

.menu-container::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-item {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}

.menu-item-sair {
  position: absolute;
  bottom: 10px;
  opacity: 1;
}

.icone-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  color: black;
}

.icone {
  font-size: 40px !important;
  width: 50px;
}

.no-scroll {
  overflow-y: hidden;
}

.texto-item-menu-container {
  width: calc(100% - 100px);
  animation: texto_aparecendo 1s ease forwards;
  overflow: hidden;
}

@keyframes texto_aparecendo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes texto_desaparecendo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
